
body{
background-color: rgb(167, 194, 185);
}

h1{
    text-align: center;
    background-color: ;
    color:#ff2323;
    font-family: ;

}
p {
    color:rgb(14, 13, 13);
    text-align: center;
    }
    #anjo{
        width: 50%;
    }
    #makes {
        width: 100;
    }