
h1{
    text-align: center
    background-color
    color:#ff2323
    font-family: ;
    background: black;
}
p {
    color:blanchedalmond;
    text-align: center;
    }
    #anjo{
        width: 50%;
    }