
h1{
    color;bisque;
    font-family: ;
    background: ;
    }

    p{
        color:black ;
        font-family: ;
        font-size: ;
        background: ;
        }
        

        body{
            background-color; browm;
            }